
body {
  background-color: grey;
  font-family: arial;
}
#sign-up {
  background-color: white;
  color: green;
  border: 2px solid green;
  border-radius: 5px;
  margin-left: 5px;
}
header {
  background-color: white;
  padding: 20px;
  display: flex;
}
#span1 {
}
#span2 {
margin-left: auto;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.login-form {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
}
h1 {
text-align: center;
}
#buttons {
  display: flex;
  flex-direction: column;
}
#enter-email {
  border-radius: 5px;
  margin: 7px auto;
  width: 80%;
  height: 2em;
}
#enter-password {
  border-radius: 5px;
  margin: 7px auto;
  width: 80%;
  height: 2em;
}
#login-button {
   background-color: white;
   color: green;
   border: 2px solid green;
   border-radius: 5px;
   margin: 7px auto;
   width: 80%;
   height: 2em;
}
